<header class="w-full h-20 mt-4 mr-2 flex  gap-1">
  <div class="w-2/4 h-full">
  <a routerLink="/" type="button">
    <img src="./assets/images/ecoalertaLogo.jpg" alt="EcoAlerta Logo" class="w-full h-full object-contain">

  </a>
  </div>
  <div class="w-2/4 h-full  flex flex-row-reverse ">

    <div class="lg:w-2/4 w-full h-full flex gap-2 p-1"> 
  @if(loginService.IsLoggedIn){
    <div routerLink="/login" class="w-2/4 h-full rounded-lg border flex gap-2 justify-center p-2 border-solid border-black content-center lg:text-lg text-sm text-center">
      
      <img src="assets/images/user.png" class="w-1/4 h-2/2 ">
      <p class="text-4xl">  {{loginService.username}}</p></div>
  <button (click)="loginService.logout()" class="w-2/4 h-full bg-red-500 rounded-lg content-center text-center text-[#FFFFFF] lg:text-lg text-sm border border-solid border-black"><p>Cerrar Sesion</p></button>

    
  }@else {
    
  <a routerLink="/login" class="w-2/4 h-full rounded-lg border border-solid border-black content-center lg:text-lg text-sm text-center"><p> Iniciar Sesión</p></a>
  <a routerLink="/register" class="w-2/4 h-full bg-[#056E34] rounded-lg content-center text-center text-[#FFFFFF] lg:text-lg text-sm border border-solid border-black"><p>Registrate</p></a>

  }
  

  </div>
  
  </div>
</header>
