<header class="w-full h-20 mt-4 mr-2 flex  gap-1">
  <div class="w-2/4 h-full">
  <div class="w-2/4 ">Aqui va la Imagen :D</div>
  </div>
  <div class="w-2/4 h-full  flex flex-row-reverse ">
  <div class="lg:w-2/4 w-full h-full flex gap-2 p-1"> 
    <button class="w-2/4 h-full rounded-lg border border-solid border-black content-center lg:text-lg text-sm text-center"><p> Iniciar Sesión</p></button>
  <button class="w-2/4 h-full bg-[#056E34] rounded-lg content-center text-center text-[#FFFFFF] lg:text-lg text-sm border border-solid border-black"><p>Registrate</p></button>
  </div>
  
  </div>
</header>
