<div class="w-64 h-full bg-gray-100 p-4 fixed right-0">
  <h2 class="text-2xl font-bold mb-4">Artículos</h2>
  <h3 class="text-xl font-semibold mb-2">Secciones</h3>
  <ul>
    <li>
      <a
        routerLink="/referencias-bibliograficas"
        class="text-blue-500 hover:underline"
        >Referencias Bibliográficas</a
      >
    </li>
    <li>
      <a
        routerLink="/impactos-ambientales"
        class="text-blue-500 hover:underline"
        >Impactos Ambientales</a
      >
    </li>
    <li>
      <a routerLink="/impactos-agricolas" class="text-blue-500 hover:underline"
        >Impactos Agrícolas</a
      >
    </li>
    <li>
      <a routerLink="/zonas-afectadas" class="text-blue-500 hover:underline"
        >Zonas Afectadas</a
      >
    </li>
    <li>
      <a routerLink="/areas-protegidas" class="text-blue-500 hover:underline"
        >Áreas Protegidas</a
      >
    </li>
  </ul>

  <h3 class="text-xl font-semibold mt-6 mb-2">Noticias</h3>
  <div class="space-y-4">
    <div class="flex items-center bg-white p-2 shadow-sm rounded-lg">
      <img
        src="https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1611/phonlamaiphoto161101945/65648553-titular-de-la-noticia-sobre-el-fondo-del-peri%C3%B3dico.jpg"
        alt="Imagen 1"
        class="w-16 h-16 object-cover rounded-md mr-4"
      />
      <div>
        <h4 class="font-semibold">Noticia 1</h4>
        <p class="text-sm text-gray-600">Resumen de Noticia</p>
      </div>
    </div>

    <div class="flex items-center bg-white p-2 shadow-sm rounded-lg">
      <img
        src="https://previews.123rf.com/images/phonlamaiphoto/phonlamaiphoto1611/phonlamaiphoto161101945/65648553-titular-de-la-noticia-sobre-el-fondo-del-peri%C3%B3dico.jpg"
        alt="Imagen 2"
        class="w-16 h-16 object-cover rounded-md mr-4"
      />
      <div>
        <h4 class="font-semibold">Noticia 2</h4>
        <p class="text-sm text-gray-600">Resumen de Noticia</p>
      </div>
    </div>
  </div>
</div>
