<div class="container mt-4">
    <!-- Título de la noticia -->
    <div class="row">
      <div class="col text-center">
        <h1 id="titulo-noticia" class="display-4">{{ listaArticulos.tituloArticulo }}</h1>
      </div>
    </div>
  
    <!-- Texto de la noticia y imagen -->
    <div class="row mt-4 flex flex-wrap gap-5">
        <div class="col-md-8 order-md-1">
          <p class="lead">{{ listaArticulos.informacionArticulo }}</p>
        </div>
        <div class="col-md-4 order-md-2 flex flex-wrap gap-1">
           @for (item of urls; track $index) {
            <img src="{{ item }}" alt="Imagen de la noticia" class="h-4/4 w-3/4 rounded-lg">


           }

          
        </div>
    </div>
  
  
    <!-- Sección de comentarios -->
    <div class="row mt-4">
        <div class="col">
          <h2 class="mb-4">Comentarios</h2>
          <!-- Logica para mostrar comentarios -->
           <app-comments [articulo]="id"></app-comments>
        </div>
    </div>
  </div>