<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="flex bg-white rounded-lg shadow-lg w-full max-w-6xl">
    <!-- Columna para el formulario de inicio de sesión -->
    <div class="w-1/2 p-8">
      <h2 class="text-green-500 mb-5">Iniciar Sesión</h2>
      <form>
        <label for="email" class="block mb-2 text-gray-700 font-bold">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required class="w-full mb-4 p-2 border border-gray-300 rounded" />

        <label for="password" class="block mb-2 text-gray-700 font-bold">Contraseña:</label>
        <input type="password" id="password" name="password" required class="w-full mb-4 p-2 border border-gray-300 rounded" />

        <button type="submit" class="w-full bg-green-500 text-white font-bold py-3 rounded mb-4">Iniciar Sesión</button>
        <button type="button" class="flex items-center justify-center w-full border-2 border-black text-black font-bold py-3 rounded">
          <img src="https://cdn.icon-icons.com/icons2/1584/PNG/512/3721671-google_108054.png" class="w-5 h-5 mr-2" alt="Google Icon" />
          Iniciar sesión con Google
        </button>
        <a href="#" class="text-sm text-green-500 hover:text-green-700 self-start">¿No tienes una cuenta? Regístrate</a>
      </form>
    </div>
    <!-- Columna para la imagen -->
    <div class="w-1/2 h-auto flex">
      <img src="https://cdn.pixabay.com/photo/2023/08/12/23/52/desert-8186571_1280.jpg" alt="Imagen de fondo" class="h-full w-full object-cover rounded-r-lg">
    </div>
  </div>
</div>

