<div class="grid gap-1 lg:mt-20 lg:ml-40 md:ml-2 md:mt-7 sm:grid-cols-2 lg:grid-cols-3 h-[100vh]">

    <div class="col-span-2 row-span-2  grid sm:grid-cols-2 lg:grid-cols-2 md:grid-cols-2  lg:ml-20 gap-12">
        @for (  item of articulos; track item) {
            <button class="w-full h-full  rounded-lg border hover:opacity-60" style="position: relative;">
                <img src="assets/images/paramo1.jpg" class="h-full w-full rounded-lg">
                <div class="text-lg hover:text-black translate-x-6" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;">
                  
                </div>
                {{ item.tituloArticulo }}
              </button>

        }
        
        
        
       

    </div>
    <div class=" ml-12">
        <div class="grid grid-cols-1">
            <div class=" row-span-2 h-10 w-2/4 bg-green-800 "></div>
            <div class="mt-8">Secciones</div>
            <div>Lorem Ispum</div>
            <div>Lorem Ispum</div>
            <div>Lorem Ispum</div>
        </div>
        <div class="grid grid-cols-1">
            <div class="mt-8">Latest Post</div>
            <div>Lorem Ispum</div>
            <div>Lorem Ispum</div>
            <div>Lorem Ispum</div>
        </div>
        <div class="grid grid-cols-1">
            <div class="mt-8">Latest Post</div>
            <div>Lorem Ispum</div>
            <div>Lorem Ispum</div>
            <div>Lorem Ispum</div>
        </div>
    </div>
</div>

<div class="flex  gap-4 mt-50 items-center justify-center w-full  mt-10">
    <div class=" h-10 w-10 bg-[#80B598] center rounded-sm text-center "><<</div>
    <div class="h-10 w-10 bg-[#80B598] center rounded-sm text-center">1</div>
    <div class =" h-10 w-10 bg-[#80B598] center rounded-sm text-center">2</div>
    <div class=" h-10 w-10 bg-[#80B598] center rounded-sm text-center">3</div>
    <div class=" h-10 w-10 bg-[#80B598] center rounded-sm text-center">>></div>
</div>