<div class="grid gap-1 lg:mt-20 lg:ml-40 md:ml-2 md:mt-7 sm:grid-cols-2 lg:grid-cols-3 h-[100vh]">

  <div class="col-span-2 row-span-2  grid sm:grid-cols-2 lg:grid-cols-2 md:grid-cols-2  lg:ml-20 gap-12">
    @for ( item of articulo; track item) {
    @if (articulo.length>=4) {



    <a [routerLink]="[ '/article', item.id]" class="w-full"  
    class="flex flex-col items-center  border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 ">
      <img class="object-cover h-full w-2/4 rounded-t-lg md:rounded-none md:rounded-s-lg"
      [src]="buscarImagen(item.id)" alt=""  >
      <div class="flex flex-col justify-between p-4 leading-normal text-black">
        <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">{{ item.tituloArticulo }}</h5>
        <p class="mb-3 font-normal  text-black">{{item.informacionArticulo}}.</p>
      </div>
    </a>

    }@else {
      <a [routerLink]="[ '/article', item.id]" class="w-full"  
      class="flex flex-col items-center w-6/4  h-2/4 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 ">
        <img class="object-cover h-full w-2/4 rounded-t-lg md:rounded-none md:rounded-s-lg"
        [src]="buscarImagen(item.id)" alt=""  >
        <div class="flex flex-col justify-between p-4 leading-normal text-black">
          <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-black">{{ item.tituloArticulo }}</h5>
          <p class="mb-3 font-normal  text-black">{{item.informacionArticulo}}.</p>
        </div>
      </a>
    


   
    }




    }





  </div>


  <nav aria-label="Page navigation example" class="flex col-span-12 items-center justify-center mt-10">
    <ul class="list-style-none flex gap-2">
      <!--   <li>
        <a
          class="relative block rounded bg-[#80B598] px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
          href="#"
          aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>-->
      @for (item of pagArticulos; track $index) {
      <li>
        <button (click)="mostrarPag($index)"
          class="relative block rounded bg-[#80B598]  px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500">{{$index+1}}</button>
      </li>

      }

      <!-- <li>
        <a
          class="relative block rounded bg-[#80B598]  px-3 py-1.5 text-sm text-surface transition duration-300 hover:bg-neutral-100 focus:bg-neutral-100 focus:text-primary-700 focus:outline-none active:bg-neutral-100 active:text-primary-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:focus:text-primary-500 dark:active:bg-neutral-700 dark:active:text-primary-500"
          href="#"
          aria-label="Next"
          ><span aria-hidden="true">&raquo;</span>
        </a>
      </li>-->
    </ul>
  </nav>