<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="flex bg-white rounded-lg shadow-lg w-full max-w-6xl">
      <!-- Columna para el formulario de registro -->
      <div class="w-1/2 p-8">
        <h2 class="text-green-500 mb-5">Formulario de Registro</h2>
        <form [formGroup]="formRegister" (ngSubmit)="onSubmit()" >
          <label for="nombre" class="block mb-2 text-gray-700 font-bold">Nombre Usuario:</label>
          <input type="text" formControlName="usuario" id="nombre" name="nombre" required class="w-full mb-4 p-2 border border-gray-300 rounded" />
  
          <label for="apellido" class="block mb-2 text-gray-700 font-bold">Nombre:</label>
          <input type="text" formControlName="nombre" id="nombre" name="nombre" required class="w-full mb-4 p-2 border border-gray-300 rounded" />
  
          <label for="email" class="block mb-2 text-gray-700 font-bold">Apellido:</label>
          <input type="text" id="apellido" formControlName="apellido" name="apellido" required class="w-full mb-4 p-2 border border-gray-300 rounded" />
  
          <label for="telefono" class="block mb-2 text-gray-700 font-bold">Telefono:</label>
          <input type="text" id="telefono" formControlName="telefono" name="telefono" required class="w-full mb-4 p-2 border border-gray-300 rounded" />
          
          <label for="email" class="block mb-2 text-gray-700 font-bold">Email:</label>
          <input type="email" id="email" formControlName="email" name="email" required class="w-full mb-4 p-2 border border-gray-300 rounded" />
          <label for="password" class="block mb-2 text-gray-700 font-bold">Contraseña:</label>
          <input type="password"  id="password" formControlName="password" name="password"  required class="w-full mb-4 p-2 border border-gray-300 rounded" />
  
         
  
          <button type="submit" class="w-full bg-green-500 text-white font-bold py-3 rounded mb-4">Registrarse</button>
          <button type="button" class="flex items-center justify-center w-full border-2 border-black text-black font-bold py-3 rounded">
            <img src="https://cdn.icon-icons.com/icons2/1584/PNG/512/3721671-google_108054.png" class="w-5 h-5 mr-2" alt="Google Icon" />
            Iniciar sesión con Google
          </button>
        </form>
      </div>
      <!-- Columna para la imagen -->
      <div class="w-1/2 h-auto flex">
        <img src="https://s.france24.com/media/display/1f7028a4-1cab-11ee-9c27-005056a90321/4b891b0af20efcfef9e014ee2b81c17e6e30a4b6.webp" alt="Imagen de fondo" class="h-full w-full object-cover rounded-r-lg">
      </div>
    </div>
  </div>